* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.baniere {
    background: linear-gradient(rgba(0, 255, 191, 0.5), #0676d1), url(https://cdn.discordapp.com/attachments/938496399895572531/956692043822940170/Banniere.jpg) center/cover no-repeat;
    height: 100vh;
}
.logo {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;

}
.button {
    background-color: rgb(255, 1, 1);
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 6px 4px border-radius: 2rem;
}
.h1 {
    color: rgb(255, 253, 253);

}






https: //www.youtube.com/watch?v=wguZozrqKZQ
